.drag-box:hover {
  border: medium solid black;
}
.drag-box {
  border: medium solid grey;
}

.create-body {
  display: flex;
  flex-wrap: wrap;

}

.controls {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.control-elem {
  margin: 5px;
}
.control-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: stretch;
}

canvas{
  border: 2px solid black;
}

