.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-container img {
    width: 300px;
    margin-bottom: 20px;
  }

  .evenly-spaced {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  