.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  padding: 10px;
}

.navBar {
  background-color: #1976d2;
  height: 50px;
  overflow: hidden;
}

.navBar a {
  float: left;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.navBar a:hover {
  background-color: darkblue;
}

.navBar a {
  border-right: 1px solid white;
}
.navBar a:last-child {
  border-right: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
